.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.header__link {
  color: #61dafb;
}

.main__prueba1 {
  margin-top: 3vh;
}

.main__prueba1-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.main__prueba1-card-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 70vw;
}

/*.main__prueba1-card-section-box {
  flex: 50%;
}*/

.main__prueba1-card-nationalities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__prueba1-card-nationalities-flag {
  width: 5vw;
}