.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #282c34;
  box-shadow: 5px 10px 15px 1px rgba(0, 0, 0, 0.253);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.header__link {
  color: #61dafb;
}

.main__prueba1 {
  margin: 3rem
}

.main__prueba1-card {
  background-color: #EEFBFA;
  margin: 2rem;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.253);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.main__prueba1-card.change {
  opacity: 1;
  transition: 1s;
}

.main__prueba1-card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
  transition: ease-in-out 0.5s;
}

.main__prueba1-card-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 80vw;
}

.main__prueba1-card-section-box {
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
}

.main__prueba1-card-section-box > p {
  margin: 0 3vw;
  width: 20vw;
}

.main__prueba1-card-section-box > div {
  margin: 0 3vw;
  width: 20vw;
}

.main__prueba1-card-section-box-error {
  background-color: #ffa9a9;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(255, 87, 87);
  padding: 10px;
}

.main__prueba1-card-section-box-nationalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.main__prueba1-card-section-box-nationalities-flag {
  width: 8vw;
}